button {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #030305;
    text-align: center;
    letter-spacing: 0.02em;
    width: 100%;
    box-sizing: border-box;
    border: 0;
}

button:hover:not(:disabled) {
    cursor: pointer;
    background-color: #575757;
}

button:disabled {
    cursor: not-allowed;
    color: gray;
    background-color: #343434;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #E5E5E5;
    padding: 25px;
}

.header .container,
.footer .container {
    display: flex;
    align-items: center;
}

.header img {
    vertical-align: bottom;
}

.menu {
    margin-left: 224px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu-item {
    margin-right: 115px;
}

.menu-item a {
    text-decoration: none;
    font-size: 15px;
    line-height: 18px;
    color: #030305;
}

.menu-item a:hover {
    border-bottom: 2px #030305 solid;
}

.rent {
    background: url("../assets/img/background.png") center no-repeat;
    background-size: cover;
    padding: 105px 0 154px 0;
}

.rent-info {
    max-width: 855px;
}

.rent-title {
    line-height: 88px;
    font-size: 80px;
    margin-bottom: 40px;
}

.rent-text {
    font-size: 16px;
    line-height: 21px;
    max-width: 502px;
    margin-bottom: 60px;
}

.rent-btn {
    height: 64px;
    width: 334px;
    padding: 20px;
}

.rent-btn:hover {
    cursor: pointer;
    background-color: #575757;
}

.cars-title {
    font-size: 60px;
    line-height: 70px;
}

.car-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.car {
    max-width: 384px;
    text-align: center;
    margin-top: 40px;
}

.car-img {
    vertical-align: bottom;
    margin-bottom: 15px;
    transition: all .3s;
}

.car-img:hover {
    transform: scale(1.1);
}


.car-title {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    margin-bottom: 17px;
}

.car-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 13px;
}

.car-point {
    width: 110px;
    height: 92px;
}

.car-point img {
    margin-bottom: 11px;
    vertical-align: bottom;
}

.car-point div:first-of-type {
    font-weight: bold;
}

.car-btn {
    height: 54px;
    padding: 15px;
}

.price {
    overflow: hidden;
    margin-top: 100px;
}

.price .container {
    position: relative;
    padding-bottom: 121px;
}

.price-title {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 20px;
}

.price-text {
    font-size: 16px;
    line-height: 21px;
    color: #5D5D5F;
    margin-bottom: 60px;
}

.price-form {
    max-width: 344px;

}

.price-form input {
    height: 65px;
    width: 100%;
    padding: 22px 18px;
    background: #FFFFFF;
    border: 1px solid #5D5D5F;
    font-size: 16px;
    line-height: 21px;
    color: #5D5D5F;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.price-btn {
    height: 64px;
    padding: 20px; 
}

.price-img {
    position: absolute;
    width: 969px;
    height: 506px;
    left: 401px;
    top: 90px;
}

.footer {
    border-top: 1px solid #E5E5E5;
    padding: 25px;
}
.footer .container {
    justify-content: space-between;
}

.footer-laws {
    font-size: 15px;
    line-height: 18px;
}

input[name="price-name"].ng-touched.ng-valid {
    border: 1px solid #5D5D5F;
}

input[type="text"].ng-touched.ng-invalid {
    border: 1px solid red;
}

.car-toggle {
    display: flex;
  width: 194px;
  border: 1px solid gray;
  margin: 20px 0;
  }
  
  .car-toggle div {
    padding: 20px;
  background: white;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: black;
  transition: background-color .5s;
  cursor: pointer;
  }
  
  .car-toggle div.active {
    background: #030305;
  color: #FFFFFF;
  }
  
  .car .container {
    display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }